.navbar {
    background-color: #f4f4f4 !important;
}

body {
    font-size: 1.5rem !important;
    background-color: #ececec;
}

button {
    font-size: 1.5rem !important;
}

a {
    font-size: 1.5rem !important;
}

.alert {
    margin-top: 10px !important;
    margin-left: 15% !important;
    margin-right: 15% !important;
}

.galleryContainer {
    margin: 1%;
}

.collections-card {
    border: 1px white solid !important;
    border-radius: 0 !important;
    /* box-shadow: 
        7px -5px 0px 0px rgba(0, 0, 0, 0.3),
        14px -10px 0px 0px rgba(69, 69, 69, 0.3),
        21px -15px 0px 0px rgba(143, 143, 143, 0.3),
        28px -20px 0px 0px rgba(198, 198, 198, 0.3); */
    animation: fadeInShadow 1s forwards;
}
.collections {
    border-radius: 0 !important;
}

.card-footer {
    background-color: #e9e9e9 !important;
}

.card-img-container {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    /* 16:9 Aspect Ratio */
    overflow: hidden;
}

.card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-success {
    background-color: #fd7e14 !important;
    border: none !important;
}

.btn-secondary {
    background-color: #007bff !important;
    border: none !important;
}

.btn-danger {
    background-color: #28a745 !important;
    border: none !important;
}

.modal-dialog {
    max-width: 80vw !important;
    /* Limit the width of the modal */
    max-height: 90vh !important;
    /* Limit the height of the modal */
    justify-content: center !important;
}

.modal-content {
    width: auto;
    /* Let content define the width */
    max-height: 100%;
    /* Don't allow content to overflow modal */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 12px 40px 0 rgba(0, 0, 0, 0.5);
}

.modal-body {
    display: flex;
    /* Allow the body to be a flex container */
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
    padding: 0 !important;
    /* Remove padding */
}

.modal-img {
    max-width: 80vw !important;
    /* Limit the width of the image */
    max-height: 90vh !important;
    /* Limit the height of the image */
    width: auto;
    /* Let the image content define the width */
    height: auto;
    /* Let the image content define the height */
    padding: 10px;
    /* Add padding */
    background: white;
    /* Ensure that the padding area is white */
}

@media (max-width: 576px) {
    .modal-dialog {
        max-width: var(--bs-modal-width);
        margin-right: auto;
        margin-left: auto;
    }

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}


@keyframes fadeInShadow {
    0% {
        box-shadow: none;
    }

    100% {
        box-shadow: 7px -5px 0px 0px rgba(0, 0, 0, 0.3), 14px -10px 0px 0px rgba(69, 69, 69, 0.3), 21px -15px 0px 0px rgba(143, 143, 143, 0.3), 28px -20px 0px 0px rgba(198, 198, 198, 0.3);
    }
}