{% macro photo_gallery(photos, purchases=False) %}
<div class="galleryContainer mt-2">
    <div class="row">
        {% for photo in photos %}
        <div class="col-md-4 w-33">
            <div class="card mb-4">
                <img src="{{ url_for('static', filename='images/' + photo.filename) }}" class="card-img-top"
                    alt="{{ photo.filename }}">
                <div class="card-body">
                    {% if not purchases %}
                        <a href="{{ url_for('purchase', photo_id=photo.id) }}" class="btn btn-primary">Buy Now</a>
                    {% else %}
                        {% set purchase = current_user.purchases.filter_by(photo_id=photo.id).first() %}
                        <p>Purchased on {{ purchase.date_pretty() }}</p>
                        <a href="{{ url_for('download', photo_id=photo.id) }}" class="btn btn-primary">Download</a>
                    {% endif %}
                    <button type="button" class="btn btn-secondary float-end" data-bs-toggle="modal" data-bs-target="#previewModal{{ loop.index }}">Preview</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% for photo in photos %}
    <div class="modal fade" id="previewModal{{ loop.index }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 80vw;">
            <div class="modal-content">
                <div class="modal-body text-center" style="display: flex; justify-content: center; align-items: center; overflow: auto; text-align: center;">
                    <div class="zoom-img-container">
                        <img src="{{ url_for('static', filename='images/' + photo.filename) }}" class="modal-img" alt="{{ photo.filename }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}
