{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">About Ping's Photos</h1>
        <p class="lead fs-4">Welcome to Ping's Photos. Here, photography isn't just about taking pictures—it's about capturing moments and sharing them. From nature to abstract, I strive to offer unique and beautiful perspectives through my lens.</p>

        <p class="lead fs-4">When you purchase my photos, you're not only obtaining a unique piece of art but also supporting my continuous exploration of beauty through photography. Both individual photos and collections are available, each contributing to my creative journey.</p>

        <h2 class="mt-4">Explore the Website</h2>
        <ul>
            <li class="list-group-item"><a href="{{ url_for('gallery') }}" class="link">Gallery</a> - Browse and purchase individual photos from various categories.</li>
            <li class="list-group-item"><a href="{{ url_for('collections') }}" class="link">Collections</a> - Explore themed collections of photos, available for purchase in bundles.</li>
            <li class="list-group-item"><a href="{{ url_for('my_photos') }}" class="link">My Photos</a> - View and manage the photos you've purchased.</li>
            <li class="list-group-item"><a href="{{ url_for('contact') }}" class="link">Contact</a> - Reach out for inquiries or specific requests.</li>
        </ul>

        <p class="lead mt-4 fs-3">Thank you for visiting Ping's Photos! Your interest fuels my passion for photography, and I hope you find inspiration in the images I've captured.</p>
    </div>
{% endblock %}
