{% extends "base.html" %}

{% block content %}

<div class="text-center mt-4">
    <h1>Collections</h1>
    Browse images based on category
</div>

{% for category in categories %}
<div class="d-flex justify-content-center">
    <div class="col-xl-8 col-lg-10 col-sm-12">
        <div class="card collections-card m-4">
            <div class="card-img-container">
                {% if random_images[category] %}
                <a href="{{ url_for('collection', category=category) }}">
                    <img src="{{ url_for('static', filename='images/thumbnails/' + random_images[category].filename) }}"
                        class="card-img-top collections" alt="{{ random_images[category].filename }}">
                    {% endif %}
                </a>
            </div>
            <div class="card-footer collections">
                {% if not current_user.is_authenticated or current_user.collection_purchases.filter_by(category=category).first() == None %}
                <button class="btn btn-success btn-sm buy-collection-btn float-start" data-id="{{ category|safe }}">
                    Buy Collection ${{ collection_price}}
                </button>
                {% elif current_user.is_authenticated and current_user.collection_purchases.filter_by(category=category).first()%}
                <a href="{{ url_for('collection', category=category) }}" class="btn btn-primary">
                    <i class="bi bi-images"></i>
                    View Collection
                </a>
                {% endif %}
                <div class="collection-category">
                    {{ category|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.body.addEventListener('click', function (e) {
            if (e.target && e.target.classList.contains('buy-collection-btn')) {
                const collectionCategory = e.target.getAttribute('data-id');
                if (collectionCategory) {
                    purchaseCollection(collectionCategory);
                }
            }
        });
    });
    function purchaseCollection(collectionCategory) {
        fetch('/create_payment/collection/' + collectionCategory)
            .then(response => response.json())
            .then(data => {
                if (data.error === 'Unauthorized') {
                    // Redirect the user to the login page
                    window.location.href = '/login';
                }
                else if (data.error === "Already Purchased" || data.error === "Not Found") {
                    // Redirect the user to the login page
                    window.location.href = '/collections';
                }
                else {
                    stripe.redirectToCheckout({
                        sessionId: data.session_id
                    }).then(function (result) {
                        if (result.error) {
                            console.error(result.error.message);
                        }
                    });
                }
            });
    }
</script>

{% endblock %}