{% extends "base.html" %}
{% from 'macros.html' import photo_gallery with context%}

{% block content %}

<div class="text-center m-4">
    <h1>Browse photos</h1>
    Check out my <a href="{{ url_for('collections') }}">collections</a> for categorized photos
</div>

{% if photos %}
{{ photo_gallery(photos) }}
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.body.addEventListener('click', function (e) {
            if (e.target && e.target.classList.contains('buy-photo-btn')) {
                const photoId = e.target.getAttribute('data-id');
                if (photoId) {
                    purchasePhoto(photoId);
                }
            }
        });
    });

    function purchasePhoto(photoId) {
        fetch('/create_payment/' + photoId)
            .then(response => response.json())
            .then(data => {
                if (data.error === 'Unauthorized') {
                    // Redirect the user to the login page
                    window.location.href = '/login';
                } else {
                    stripe.redirectToCheckout({
                        sessionId: data.session_id
                    }).then(function (result) {
                        if (result.error) {
                            console.error(result.error.message);
                        }
                    });
                }
            });
    }

</script>

{% endblock %}