{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1>Login</h1>
    </div>
    <div class="row justify-content-center">
        <div style="max-width: 500px;">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.username.label }} {{ form.username(class="form-control") }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.password.id_for_label }}">
                        <!-- Custom label including the 'Forgot password?' link -->
                        <span>Password</span>
                        <small><a href="forgot_password" style="text-decoration: none;">Forgot password?</a></small>
                    </label>
                    {{ form.password(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.remember(class="form-check-input") }} {{ form.remember.label }}
                    <small class="float-end">
                        <a href="signup">Don't have an account?</a>
                    </small>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}