{% macro photo_gallery(photos, useFooter=True) %}
<div class="galleryContainer mt-2">
    <div class="row">
        {% for photo in photos %}
        <div class="col-lg-6 col-sm-12">
            <div class="card mb-4">
                <div class="card-img-container">
                    <img src="{{ url_for('static', filename='images/thumbnails/' + photo.filename) }}"
                        class="card-img-top" alt="{{ photo.filename }}">
                </div>
                <div class="card-body">
                    {% set purchased = None %}
                    {% if current_user.is_authenticated %}
                    {% set purchased = current_user.purchases.filter_by(photo_id=photo.id).first() or
                    current_user.collection_purchases.filter_by(category=photo.category).first() %}
                    {% endif %}
                    {% if not purchased %}
                    <button data-id="{{ photo.id }}" class="btn btn-success buy-photo-btn">Buy Now ${{ photo.price
                        }}</button>
                    {% else %}
                    <a href="{{ url_for('download', photo_id=photo.id) }}" class="btn btn-danger">Download</a>
                    {% endif %}
                    <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal"
                        data-bs-target="#previewModal{{ loop.index }}">Full Preview</button>
                    {% if current_user.is_admin %}
                    <!-- edit photo button -->
                    <a href="{{ url_for('edit_photo', photo_id=photo.id) }}"
                        class="btn btn-warning float-end me-2">Edit</a>
                    <!-- delete photo button -->
                    <form action="{{ url_for('delete_photo', photo_id=photo.id) }}" method="POST" class="float-end me-2"
                        onsubmit="return confirm('Are you sure you want to delete this photo?');">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    {% endif %}
                </div>
                {% if photo.description or photo.category and useFooter == True %}
                <div class="card-footer d-flex justify-content-between">
                    <small class="me-2 d-flex gap-2 description-container">
                        <span class="description-text">
                            {% if photo.description %}
                            {{ photo.description }}
                            {% endif %}
                        </span>
                        <span class="dimension-text text-muted">
                            {% if photo.width and photo.height %}
                            (Dimensions: {{ photo.width }} x {{ photo.height }})
                            {% endif %}
                        </span>
                    </small>
                    <small class="category-text float-end text-muted text-end">
                        {% if photo.category %}
                        {{ photo.category }}
                        {% endif %}
                    </small>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% for photo in photos %}
    <div class="modal fade" id="previewModal{{ loop.index }}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg d-flex">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="zoom-img-container">
                        <img src="{{ url_for('static', filename='images/previews/' + photo.filename) }}"
                            class="modal-img" alt="{{ photo.filename }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    const whitespace = 50;
    const descriptionTexts = document.getElementsByClassName('description-text');
    const dimensionTexts = document.getElementsByClassName('dimension-text');
    const categoryTexts = document.getElementsByClassName('category-text');

    function toggleDimensionText() {
        for (let i = 0; i < descriptionTexts.length; i++) {
            const descriptionText = descriptionTexts[i];
            const dimensionText = dimensionTexts[i];
            const categoryText = categoryTexts[i];
            const footer = descriptionText.parentElement.parentElement;
            const footerWidth = footer.offsetWidth;
            let dimensionTextWidth = dimensionText.offsetWidth;
            const descriptionTextWidth = descriptionText.offsetWidth;
            const categoryTextWidth = categoryText.offsetWidth;

            if (window.getComputedStyle(dimensionText).display == 'block') {
                if (!enoughSpace(footerWidth, descriptionTextWidth, dimensionTextWidth, categoryTextWidth)) {
                    dimensionText.style.display = 'none';
                }
            }
            if (window.getComputedStyle(dimensionText).display == 'none') {
                dimensionText.style.display = 'block';
                dimensionTextWidth = dimensionText.offsetWidth;
                if (enoughSpace(footerWidth, descriptionTextWidth, dimensionTextWidth, categoryTextWidth)) break;
                else dimensionText.style.display = 'none';
            }
        }
    }

    function enoughSpace(footerWidth, descriptionTextWidth, dimensionTextWidth, categoryTextWidth) {
        return footerWidth >= descriptionTextWidth + dimensionTextWidth + categoryTextWidth + whitespace;
    }

    // Call the toggleDimensionText function initially and whenever the window is resized
    toggleDimensionText();
    window.addEventListener('resize', toggleDimensionText);
</script>

{% endmacro %}