{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="text-center mb-3">
        <h1>Reset Password</h1>
    </div>
    <div class="row justify-content-center">
        <div style="max-width: 500px;">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.password.label }} {{ form.password(class="form-control") }}
                </div>
                <div class="my-3">
                    {{ form.confirm_password.label }} {{ form.confirm_password(class="form-control") }}
                </div>
            </form>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
    </div>
</div>
{% endblock %}