{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1>Sign Up</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.username.label }} {{ form.username(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.email.label }} {{ form.email(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.password.label }} {{ form.password(class="form-control") }}
                </div>
                <div class="mb-3">
                    {{ form.confirm_password.label }} {{ form.confirm_password(class="form-control") }}
                    <!-- Error message for mismatched passwords -->
                    {% if form.confirm_password.errors %}
                        <div class="text-danger">
                            {% for error in form.confirm_password.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
            <div class="passwordRules">
                <div class="passwordRules mt-5">
                    <p>Password must contain:</p>
                    <ol class="custom-ol">
                        <li>At least 8 characters</li>
                        <li>One uppercase letter</li>
                        <li>One lowercase letter</li>
                        <li>One number</li>
                        <li>One special character</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
